@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* custom scroll bar! ------------------ */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  padding: 15px;
  background: rgb(228, 228, 228); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey; 
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

/* vars -------------------------------- */

:root {
  --lblue: #89B9E5;
  --lbluet: rgba(137,185,229,0.15);
  --dblue: #558FC3;
  --dbluet: rgba(85,143,195,0.25);
}

*{
  font-family: 'Varela Round', sans-serif;
}
a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
img{
  display: block;
  margin: 0;
}
#navbar{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100%;
  display: table; 
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: background 0.15s ease-out;
}
#subnavbarright{
  display: table-cell; vertical-align: middle;  text-align:right;
  padding-right: 30px;
}
#subnavbarleft{
  display: table-cell; vertical-align: middle;
  padding-left: 30px;
}
.navbar-subtitle-text{
  font-size: 22.5px;
  margin: 10px;
  color: var(--lblue);
}
.nav-underline{
  background-image: linear-gradient(120deg, var(--dblue) 0%, var(--dblue) 100%);
  background-repeat: no-repeat;
  background-size: 90% 0;
  background-position: 50% 95%;
  transition: background-size 0.15s ease-out;
  padding: 5px;
}
.nav-underline:hover{
  background-size: 90% 4%;
  color: var(--dblue);
}
.selected{
  background-image: linear-gradient(120deg, var(--dblue) 0%, var(--dblue) 100%);
  background-repeat: no-repeat;
  background-size: 90% 4%;
  background-position: 50% 95%;
  padding: 5px;
}
#logo{
  height: 48px;
}
.scan-content{
  position: absolute;
  display: table;
  margin: 0 auto;
  top: 100px;
  height: calc(100%-100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  background-image: url("https://media.discordapp.net/attachments/759867023885860934/964904812938412122/Group_5_3.png?width=624&height=664");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.scan-inner-content{
  height: calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
  display: flex; 
  vertical-align: middle; 
  align-items: center;
  justify-content: center;
  padding: 75px 125px;
}


/* SCAN.CSS */
#scan-left-column {
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
    display: flex;
  
}
#scan-middle-column {
    flex: 1;
    vertical-align: middle;
}
.small{
  font-size: 16px;
  text-align: center;
  color: var(--lblue);
}
#scan-right-column {
    margin-left: 20px;
    flex: 1;
}

.din-label {
    font-size: 30px;
    color: var(--dblue);
}
.scan-placeholder{
  border: solid 3.5px var(--dblue);
  background: var(--lbluet);
  min-width: 15em;
  min-height: 15em;
  max-width: 15em;
  max-height: 15em;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scan-placeholder-text{
    color: var(--lblue);
}
.scan-label{
    font-size: 30px;
    color: var(--dblue);
    text-align: center;
    margin-top: 10px;
}
.din-info {
    color: var(--lblue);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-form {
    display: table-cell;
}

.din-input {
    box-sizing: border-box;
    border: 2.5px solid var(--dblue);
    border-radius: 5px;
    color: var(--dblue);
    height: 2em;
    margin-top: 5px;
    margin-right: 5px;
}
.din-input:focus {
    outline: none;
    box-shadow: 0 5px 10px var(--dbluet);
}

.input-submit {
    background-color: var(--lbluet);
    border: 2.5px solid var(--dblue);
    border-radius: 5px;
    color: var(--dblue);
    cursor: pointer;
    height: 2em;
}

.input-submit:hover {
    border: 2.5px solid var(--lblue);
}